.story {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
    
  &-content {
    h2 {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }

  @include mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}
